<div fxLayout="column" class="container" [class.is-mobile]="mobileQuery.matches">
  <app-top-bar></app-top-bar>
  <mat-sidenav-container fxFlex>

    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" class="sidenav"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <app-side-nav [mobileQuery]="mobileQuery"></app-side-nav>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <app-creator></app-creator>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>